<!DOCTYPE html>
<html lang="en">

<head>
    <title>LastRide</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Home</a></li>
                    <li role="presentation"><a href="/register" action="/register" method="post">Register</a></li>
                    <li role="presentation"><a href="/login" action="/login" method="post">Login</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">LastRide</h3>
        </div>
        <div>
            <ul class="nav nav-tabs">
              <li role="presentation"><a href="/passengers">Passengers</a></li>
              <li role="presentation"><a href="/reservations">Reservations</a></li>
              <li role="presentation"><a href="/freeseats">Free Seats</a></li>
              <li role="presentation"><a href="/trips">Trips</a></li>
            </ul>
        </div>
        <div class="table-responsive">
            <table class="table" style="font-size: 12px;">
                <tr>
                    <td><b>train_id</b></td>
                    <td><b>segment_id</b></td>
                    <td><b>seat_free_date</b></td>
                    <td><b>freeseat</b></td>
                </tr>
                {% for train_id, segment_id, seat_free_date, freeseat in mySeats %}
                <tr>
                    <td> {{ train_id }} </td>
                    <td> {{ segment_id }} </td>
                    <td> {{ seat_free_date }} </td>
                    <td> {{ freeseat }} </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>

</html>