<!DOCTYPE html>
<html lang="en">

<head>
    <title>LastRide</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a></li>
                    <li role="presentation"><a href="#">Log In</a></li>
                    <li role="presentation"><a href="#">Sign Up</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">LastRide</h3>
        </div>
        <form action="/result" method="post">
            <input type="text" class="form-control" name="station"/>
            <input type="submit" class="btn btn-default" name="result"/>
        </form>
    </div>
</body>

</html>