<!DOCTYPE html>
<html lang="en">

<head>
    <title>LastRide</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Home</a></li>
                    <li role="presentation"><a href="/register" action="/register" method="post">Register</a></li>
                    <li role="presentation"><a href="/login" action="/login" method="post">Login</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">LastRide</h3>
        </div>
        <div>
            <ul class="nav nav-tabs">
              <li role="presentation"><a href="/passengers">Passengers</a></li>
              <li role="presentation"><a href="/reservations">Reservations</a></li>
              <li role="presentation"><a href="/freeseats">Free Seats</a></li>
              <li role="presentation"><a href="/trips">Trips</a></li>
            </ul>
        </div>
        <div class="table-responsive">
            <table class="table" style="font-size: 12px;">
                <tr>
                    <td><b>passenger_id</b></td>
                    <td><b>fname</b></td>
                    <td><b>lname</b></td>
                    <td><b>email</b></td>
                    <td style="width: 50px;"><b>password</b></td>
                    <td><b>preferred_card_number</b></td>
                    <td><b>preferred_billing_address</b></td>
                </tr>
                {% for id, fname, lname, email, password, pref_card, pref_addr in myPassengers %}
                <tr>
                    <td> {{ id }} </td>
                    <td> {{ fname }} </td>
                    <td> {{ lname }} </td>
                    <td> {{ email }} </td>
                    <td style="width: 50px;"> {{ password }} </td>
                    <td> {{ pref_card }} </td>
                    <td> {{ pref_addr }} </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>

</html>