<html>
<head>
    <title>Reservation</title>
    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Home</a></li>
                    <li role="presentation"><a href="/reservation_number" action="/reservation_number" method="post">My Reservations</a></li>
                    <li role="presentation"><a href="/login" action="/logout" method="post">Logout</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">LastRide</h3>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <h4 style="text-align: center;">My Reservations</h4>
            <br/>
        </div>
        <table class="table table-inverse" style="font-size: 14px; text-align: center; border-bottom: solid;">
                {% for reservation_id in res_id %}
                <tr>
                    <td style="width: 150px; padding-top: 25px;">Reservation ID</td>
                    <td style="width: 290px; padding-top: 25px;">#{{ reservation_id }}</td>
                    <td style="padding-top: 15px; padding-left: 100px;">
                        <form action="/cancel" method="post">
                            <input type="hidden" name="res_id" value="{{ reservation_id }}">
                            <button class="btn btn-default">Cancel</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
    </div>
</body>
</html>