<!DOCTYPE html>
<html lang="en">

<head>
    <title>Round Trip</title>
    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/homepage" action="/homepage" method="post">Home</a></li>
                    <li role="presentation"><a href="/">Tables</a></li>
                    <li role="presentation"><a href="/reservation_number" action="/reservation_number" method="post">My Reservations</a></li>
                    <li role="presentation"><a href="/login" action="/logout" method="post">Logout</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">LastRide</h3>
        </div>
        <br/>
        <div class="col-md-8 col-md-offset-2" style="margin-top: -20px;">
            <h3>Select Round Trip or <a href="/finish_booking">Finish Booking</a></h3>
            <br/>
            <form action="/results_roundtrips" method="post">
                <label>From
                    <span style="margin-left: 185px;"> To</span>
                </label>
                <br/>
                <label style="font-weight: normal;">{{ fromR }}
                    <span style="margin-left: 130px;">{{ toR }}</span>
                </label>
                <br/>
                <br/>
                <label>Date
                    <span style="margin-left: 190px;"> Depart at</span>
                </label>
                <br/>
                <input type="date" style="width: 210px; float: left;" class="form-control" name="dateR"/>
                <span>
                    <input type="time" style="width: 210px; margin-left: 15.5px; margin-bottom: 35px; float: left;" class="form-control" name="timeR"/>
                </span>
                <label style="text-align: center; margin-left: 40px;">Adults
                    <span style="margin-left: 22px;"> Children</span>
                    <span style="margin-left: 22px;">Seniors</span>
                    <span style="margin-left: 22px;">Military</span>
                    <span style="margin-left: 22px;">Pets</span>
                </label>
                <br/>
                <label style="text-align: center; margin-left: 55px; margin-bottom: 25px;">{{ a }}
                    <span style="margin-left: 65px;">{{ c }}</span>
                    <span style="margin-left: 65px;">{{ s }}</span>
                    <span style="margin-left: 65px;">{{ mil }}</span>
                    <span style="margin-left: 55px;">{{ p }}</span>
                </label>
                <br/>
                <div style="text-align: center;">
                    <input style="margin-bottom: 75px;" type="submit" class="btn btn-default" name="results_roundtrips"/>
                </div>
            </form>
        </div>
    </div>
</body>

</html>