<!DOCTYPE html>
<html lang="en">

<head>
    <title>Round Trip</title>
    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Home</a></li>
                    <li role="presentation"><a href="/reservation_number" action="/reservation_number" method="post">My Reservations</a></li>
                    <li role="presentation"><a href="/login" action="/logout" method="post">Logout</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">LastRide</h3>
        </div>
        <br/>
        <div class="col-md-8 col-md-offset-2" style="margin-top: -20px;">
            <h3>Select Round Trip or <a href="/finish_booking">Finish Booking</a></h3>
            <form action="/results_roundtrips" method="post">
                <label>From
                    <span style="margin-left: 185px;"> To</span>
                </label>
                <br/>
                <select name="fromstationR" class="form-control" style="width: 210px; float: left; margin-right: 15.5px;">
                    {% for station_name in myStations %}
                      <option>{{ station_name }}</option>
                    {% endfor %}
                </select>
                <select name="tostationR" class="form-control" style="width: 210px; float: left;">
                    {% for station_name in myStations %}
                      <option>{{ station_name }}</option>
                    {% endfor %}
                </select>
                <br/>
                <label style="margin-top: 20px;">Date</label>
                <input type="date" class="form-control" name="dateR"/>
                <br/>
                <label>Depart at</label>
                <input type="time" class="form-control" name="timeR"/>
                <br/>
                <label style="text-align: center;">Adults
                    <span style="margin-left: 22px;"> Children</span>
                    <span style="margin-left: 22px;">Seniors</span>
                    <span style="margin-left: 22px;">Military</span>
                    <span style="margin-left: 22px;">Pets</span>
                </label>
                <br/>
                <select name="adult" class="form-control" style="width: 65px; float: left; margin-right: 8px;">
                    {% for num in numbers %}
                      <option>{{ num }}</option>
                    {% endfor %}
                </select>
                <select  name="child" class="form-control" style="width: 65px; float: left; margin-right: 8px;">
                    {% for num in numbers %}
                      <option>{{ num }}</option>
                    {% endfor %}
                </select>
                <select name="senior" class="form-control" style="width: 65px; float: left; margin-right: 7px;">
                    {% for num in numbers %}
                      <option>{{ num }}</option>
                    {% endfor %}
                </select>
                <select name="military" class="form-control" style="width: 65px; float: left; margin-right: 7px;">
                    {% for num in numbers %}
                      <option>{{ num }}</option>
                    {% endfor %}
                </select>
                <select name="pet" class="form-control" style="width: 65px; float: left; margin-right: 12px;">
                    {% for num in numbers %}
                      <option>{{ num }}</option>
                    {% endfor %}
                </select>
                <div style="text-align: center;">
                    <input style="background-color: cadetblue; color: white; margin-bottom: 75px;" type="submit" class="btn btn-default" name="results_roundtrips"/>
                </div>
            </form>
        </div>
    </div>
</body>

</html>