<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dashboard</title>
    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/homepage" action="/homepage" method="post">Home</a></li>
                    <li role="presentation"><a href="/">Tables</a></li>
                    <li role="presentation"><a href="/reservation_number" action="/reservation_number" method="post">My Reservations</a></li>
                    <li role="presentation"><a href="/login" action="/logout" method="post">Logout</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">LastRide</h3>
        </div>
        <div>
        {% if current_user.is_authenticated %}
              <b>Welcome,</b> {{ current_user.id }}!
        {% endif %}
        </div>
        <br/>
        <div class="col-md-8 col-md-offset-2" style="margin-top: -20px;">
            <h3>Select Trip</h3>
            <form action="/result" method="post">
                <label>From
                    <span style="margin-left: 185px;"> To</span>
                </label>
                <br/>
                <select name="fromstation" class="form-control" style="width: 210px; float: left; margin-right: 15.5px;">
                    {% for station_name in myStations %}
                      <option>{{ station_name }}</option>
                    {% endfor %}
                </select>
                <select name="tostation" class="form-control" style="width: 210px; float: left; margin-bottom: 25px;">
                    {% for station_name in myStations %}
                      <option>{{ station_name }}</option>
                    {% endfor %}
                </select>
                <br/>
                <br/>
                <label>Date
                    <span style="margin-left: 190px;"> Depart at</span>
                </label>
                <br/>
                <input type="date" style="width: 210px; float: left;" class="form-control" name="date"/>
                <span>
                    <input type="time" style="width: 210px; margin-left: 15.5px; margin-bottom: 25px; float: left;" class="form-control" name="time"/>
                </span>
                <label style="text-align: center; margin-left: 40px;">Adults
                    <span style="margin-left: 22px;"> Children</span>
                    <span style="margin-left: 22px;">Seniors</span>
                    <span style="margin-left: 22px;">Military</span>
                    <span style="margin-left: 22px;">Pets</span>
                </label>
                <br/>
                <select name="adult" class="form-control" style="width: 65px; float: left; margin-left: 35px; margin-right: 10px;">
                    {% for num in numbers %}
                      <option>{{ num }}</option>
                    {% endfor %}
                </select>
                <select  name="child" class="form-control" style="width: 65px; float: left; margin-right: 10px;">
                    {% for num in numbers %}
                      <option>{{ num }}</option>
                    {% endfor %}
                </select>
                <select name="senior" class="form-control" style="width: 65px; float: left; margin-right: 10px;">
                    {% for num in numbers %}
                      <option>{{ num }}</option>
                    {% endfor %}
                </select>
                <select name="military" class="form-control" style="width: 65px; float: left; margin-right: 10px;">
                    {% for num in numbers %}
                      <option>{{ num }}</option>
                    {% endfor %}
                </select>
                <select name="pet" class="form-control" style="width: 65px; float: left; margin-right: 12px;">
                    {% for num in numbers %}
                      <option>{{ num }}</option>
                    {% endfor %}
                </select>
                <br/>
                <div style="text-align: center; margin-top: 40px;">
                    <input style="margin-bottom: 75px;" type="submit" class="btn btn-default" name="result"/>
                </div>
            </form>
        </div>
    </div>
</body>

</html>