<!DOCTYPE html>
<html lang="en">

<head>
    <title>LastRide</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Home</a></li>
                    <li role="presentation"><a href="/register" action="/register" method="post">Register</a></li>
                    <li role="presentation"><a href="/login" action="/login" method="post">Login</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">LastRide</h3>
        </div>
        <div>
            <ul class="nav nav-tabs">
              <li role="presentation"><a href="/passengers">Passengers</a></li>
              <li role="presentation"><a href="/reservations">Reservations</a></li>
              <li role="presentation"><a href="/freeseats">Free Seats</a></li>
              <li role="presentation"><a href="/trips">Trips</a></li>
            </ul>
        </div>
        <div>
            Trips
        </div>
    </div>
</body>

</html>